* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

#text {
    font-weight: 800;
}
.container {
    width: 800px;
    max-width: 80%;
}
.timer {
    display: flex;
    justify-content: right;
}
.btn {
    font-size: 25px;
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(23, 23, 23, .50);
}
.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn.correct {
    background-color: green ;
}
.btn.incorrect {
    background-color: red;
}


.hide {
    display: none;
}

